// Show link source
// For fully qualified URLs only
a {
	&[href^='http://'],
	&[href^='https://'],
	&[href^='ftp://'] {
		&:after {
			content: ' (' attr(href) ')';
			font-size: 80%;
		}
	}
}

// Show abbreviation or acronym title
abbr[title],
acronym[title] {
	&:after {
		content: ' (' attr(title) ')';
	}
}
