// Show link source
// For fully qualified URLs only
a {
	&[href^='http'],
	&[href^='ftp'] {
		&:after {
			content: ' (' attr(href) ')';
			font-size: 80%;
		}
	}

	&[href$='.jpg'],
	&[href$='.jpeg'],
	&[href$='.gif'],
	&[href$='.png'] {
		&:after {
			display: none;
		}
	}
}

// Show abbreviation or acronym title
abbr[title],
acronym[title] {
	&:after {
		content: ' (' attr(title) ')';
	}
}
