.page-break,
.break-before,
.page-break-before {
	page-break-before: always;
}

.break-after,
.page-break-after {
	page-break-after: always;
}

.avoid-break-inside {
	page-break-inside: avoid;
}

.no-print {
	display: none;
}

a {
	&.no-reformat:after {
		content: '';
	}
}

abbr,
acronym {
	&[title] {
		&.no-reformat:after {
			content: '';
		}
	}
}

.no-reformat {
	abbr,
	acronym,
	a {
		&:after {
			content: '';
		}
	}
}
