.page-break,
.page-break-before {
	page-break-before: always;
}

.page-break-after {
	page-break-after: always;
}

.no-print {
	display: none;
}

a {
	&.no-reformat:after {
		content: '';
	}
}

abbr,
acronym {
	&[title] {
		&.no-reformat:after {
			content: '';
		}
	}
}
